{{ define "index"}}

<body class="d-flex h-100 text-center text-bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{ template "header"}}
    <title>Главная</title>
    <main class="px-3">
      <h1>Главная </h1>
      <p class="lead">Привет! Меня зовут Волчанин Михаил, и это мой сайт, написанный c помощью языка программирования GO.</p> <br>
      <p class="lead">Этот небольшой сайт предназначен для отображения и добавления заметок.
        Для хранения заметок используется MySQL. Чтобы добавить заметку в БД нужно отправить POST-запрос в тело которого поместить заголовок и содержание в json-формате. </p>
      <p class="lead"> Например:
        <br>
        { 
          "title" : "title_text", 
          "content" : "content_text" 
        }
      </p>
    </main>

    {{ template "footer"}}
  </div>

</body>

{{ end }}