{{ define "show"}}

<body class="d-flex h-100 text-center text-bg-dark">


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  {{ template "header"}}

  {{with .Note}}
  <head>

    <title>Заметка №{{.ID}}</title>
  </head>
  <main >
    <div class="note">
      <!-- <h1> Заметка №{{.ID}}</h1> -->
      <h1 > {{.Title}}</h1>
      <br>
      <pre><p class="content"> {{.Content}}</p></pre>
      <br>
      <br>
      <p class="lead">
        Создан: {{.Created}}
        Исчезнет: {{.Expires}}
      </p>
    </div>
  </main>
  {{end}}


  {{ template "footer"}}
</div>

</body>

{{ end }}